<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>Welcome to record page</h1>
    <table style="border: 2px solid black;">
        <thead>
            <tr>
                <th style="border: 2px solid black;">
                    User Name
                </th>
                <th style="border: 2px solid black;">
                    Email Id
                </th>
                <th style="border: 2px solid black;">
                    passwaord
                </th>
            </tr>
        </thead>
        {% for instances in my_data %}
        <tr>
            <td style="border: 2px solid black;">{{instances.fields.username}}</td>
            <td style="border: 2px solid black;">{{instances.fields.email}}</td>
            <td style="border: 2px solid black;">{{instances.fields.pass1}}</td>

        </tr>
        {% endfor %}
    </table>
    <br><br>
    <a href="{% url 'sign_in' %}"><button>Logout</button></a><br>
    <a href="{% url 'employee' %}"><button>employee</button></a>


</body>
</html>